
    <!-- Login Form -->
    <!-- AC No -->
    <!-- Password -->
    <!-- Login Button -->

    <div>
        <h2>{{aim}}</h2>
    </div>
    <div class="loginbox"> <img src="../../assets/pexels-pixabay-50987.jpg" class="avatar">
        <h1>Login Here</h1>
        <form method="post" action="#">
            <p>Account Number</p> <input [(ngModel)]="acno"  id="acno" type="text" name="acno" [placeholder]="data" >
            <p>Password</p> <input [(ngModel)]="psw"  id="psw" type="password" name="psw" placeholder="Enter Password">
            <button (click)="login()" type="submit" name="" value="Login">Login</button>
            <button routerLink="register" type="" name="" value="Register">Register</button>

            <div class="button">
                <!-- <a href="./register.html"><span><small>Register Here</small></span></a> -->
            </div>
        </form>

     </div>