<aside>
	<div class="px-0 bg-transparent">
		<div class="d-flex">
			<div class="d-flex align-items-center " id="navbar"> <button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbarSupportedContent"
					aria-expanded="true" aria-label="Toggle navigation"> <span
						class="fa fa-bars text-white ms-3"></span> </button> <a class="text-decoration-none fs14 ps-2"
					href="#">Paymate<span class="fs13 pe-2">.com</span></a>
			</div>
			<div id="navbar2" class="d-flex justify-content-end pe-4"> <span class="fa fa-user-circle "></span> </div>
		</div>
		<div class="d-md-flex">
			<ul id="navbar-items" class="p-1 text-white">
				
				<li>
					<h6 routerLink="/transaction"><span class="fa fa-money-bill-trend-up"></span> <span
							class="ps-3 name">Transactions</span></h6>
				</li>
				<li>
					<h6 (click)="deleteconfirm()"><span class="fa fa-trash"></span> <span
							class="ps-3 name">Delete</span></h6>
				</li>
				<li>
					<h6 (click)="logout()"><span class="fa fa-arrow-right-from-bracket"></span> <span
							class="ps-3 name">Logout</span></h6>
				</li>


			</ul>
			<div id="topnavbar">

				<div class="">

					<div>
						<div class="wrapper">
							<h1>Welcome {{user}}</h1>
						</div>
						<div class="text-white text-center">
							<h1 style="font-size:1.5rem;">{{dateandtime | date:'short'}}</h1>
						</div>
					</div>

					<app-deleteconfirm [item]="acno" (onDelete)="delete($event)"
						(onCancel)="oncancel()"></app-deleteconfirm>

					<div class="container-fluid" [ngClass]="acno?'style':''">
						<div class="row d-flex justify-content-center">
							<div class="col-sm-12">
								<div class="card mx-auto">
									<p class="heading">Deposit</p>
									<form (ngSubmit)="deposit()" [formGroup]="depositForm" class="card-details ">
										<div class="form-group mb-0">
											<p class="text-warning mb-2">Account Number</p>
											<input formControlName="acno" type="number" name="acno"
												placeholder="1234 5678 9012 3457" size="17" id="acn" minlength="19"
												maxlength="19">
											<div
												*ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched">
												<p class="text-danger">Invalid Account Number</p>
											</div>

										</div>

										<div class="form-group">
											<p class="text-warning mb-0">Password</p> <input formControlName="psw"
												type="password" name="psw" placeholder="Password" size="17">
											<div
												*ngIf="this.depositForm.get('psw')?.errors && this.depositForm.get('psw')?.touched">
												<p class="text-danger">Invalid Password</p>
											</div>
										</div>
										<div class="i">
											<img src="../../assets/deposit.png" width="104px" height="100px" />

										</div>
										<div class="form-group pt-2">
											<div class="row d-flex">
												<div class="col-sm-4">
													<p class="text-warning mb-0">Amount</p>
													<input formControlName="amnt" type="text" name="amnt"
														placeholder="Enter the Amount" id="exp" size="17">
													<div
														*ngIf="depositForm.get('amnt')?.errors && this.depositForm.get('amnt')?.touched">
														<p class="text-danger">Invalid Amount</p>
													</div>
												</div>
												<div class="col-sm-5 pt-0">
													<button type="submit" class="btn btn-primary submit-btn"><i
															class="fa fa-money-bill-transfer px-3 py-2"></i></button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="container-fluid" [ngClass]="acno?'style':''">
						<div class="row d-flex justify-content-center">
							<div class="col-sm-12">
								<div class="card2 mx-auto">
									<p class="heading">Withdraw</p>
									<form (ngSubmit)="withdraw()" [formGroup]="withdrawForm" class="card-details ">
										<div class="form-group mb-0">
											<p class="text-warning mb-2">Account Number</p>

											<input formControlName="acno1" type="number" name="acno1"
												placeholder="1234 5678 9012 3457" size="17" id="acno" minlength="19"
												maxlength="19">

											<div
												*ngIf="this.withdrawForm.get('acno1')?.errors && this.withdrawForm.get('acno1')?.touched">
												<p class="text-danger">Invalid Account No</p>
											</div>

											<!-- <img src="../../assets/cash-withdrawal.png" width="64px" height="60px" /> -->
										</div>

										<div class="form-group">
											<p class="text-warning mb-0">Password</p> <input formControlName="psw1"
												type="password" name="psw1" placeholder="Password" size="17">
											<div
												*ngIf="this.withdrawForm.get('psw')?.errors && this.withdrawForm.get('psw')?.touched">
												<p class="text-danger">Invalid Password</p>
											</div>

										</div>

										<div class="i2">
											<img src="../../assets/cash-withdrawal.png" width="104px" height="100px" />

										</div>

										<div class="form-group pt-2">
											<div class="row d-flex">
												<div class="col-sm-4">
													<p class="text-warning mb-0">Amount</p>
													<input formControlName="amnt1" type="text" name="amnt1"
														placeholder="Enter the Amount" size="17" id="exp">
													<div
														*ngIf="this.withdrawForm.get('amnt1')?.errors && this.withdrawForm.get('amnt1')?.touched">
														<p class="text-danger">Invalid Amount</p>
													</div>

												</div>
												<div class="col-sm-5 pt-0">
													<button type="submit" class="btn btn-primary submit-btn"><i
															class="fa fa-money-bill-transfer px-3 py-2"></i></button>
												</div>
											</div>
										</div>
									</form>

								</div>

							</div>
						</div>
					</div>



				</div>
			</div>
		</div>
	</div>
</aside>



<!-- <div class="container">
    <a routerLink="/transaction"><span>Previous transactions</span></a>
</div> -->