/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../src/assets/bg2.jpg);
    background-size: cover;
    /* background-position: center; */
    font-family: 'Poppins', sans-serif
    /* background-repeat: no-repeat; */
    /* margin-top: 22%; */
    
    
}
.style{
    opacity: 0;
}
