<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <div class="form">
                    <h2>Registration</h2>
                    <div class="inputbox mt-3"> <span>Account Number</span> <input [(ngModel)]="acno" id="acid" type="text"
                            placeholder="Account Number" name="acno" class="form-control"> </div>
                    <div class="inputbox mt-3"> <span>Username</span> <input [(ngModel)]="uname" id="uid" type="text" placeholder="Name" name="uname"
                            class="form-control"> </div>
                    <div class="inputbox mt-3"> <span>Password</span> <input [(ngModel)]="psw" id="pid" type="password" placeholder="Password"
                            name="psw" class="form-control"> </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-right"> <button type="submit" 
                                class="btn btn-success register btn-block" (click)="register()">Register</button> </div> <a href="./index.html"
                            class="login">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center mt-5"> <img src="../../assets/register-img.jpg" width="400"> </div>
            </div>
        </div>
    </div>
</div>

